# Backend Service URLs
NEXT_PUBLIC_STUDENT_API_URL=http://localhost:8002
NEXT_PUBLIC_COMPETENCY_API_URL=http://localhost:8003
NEXT_PUBLIC_ALUMNI_API_URL=http://localhost:8005
NEXT_PUBLIC_INTEGRATION_API_URL=http://localhost:8007
